@import 'partials/partial';



body {
  h1 {
    font-family: sans-serif;
    color: $dark-gray;
  }
}

.fuck {
  color: black;
}

.bitch {
  background-color: red;
}

#mainbodydivid {
  position: absolute;
}

.awesome {
  //color: blue;
}
